.cart {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  padding-left: 24px;
  margin-bottom: 16px;
  background-image: url('/assets/img/basket.svg');
  background-position: 0 50%;
  background-repeat: no-repeat;
}

.icon {
  margin-right: 8px;
}

.ok {
  display: inline-block;
  margin-left: 8px;
  width: 24px;
  height: 24px;
  background-image: url('/assets/img/ok.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.wrap button {
  margin-bottom: 16px;
}

.link {
  color: #323c48;
  text-decoration: none;
}

.error {
  color: tomato;
  margin-top: 16px;
}

.item {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 24px;
}

.quantity {
  margin-left: 16px;
}

.total {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-left: 16px;
}
