.cart {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px;
}

.icon {
  margin-right: 8px;
}

.ok {
  margin-left: 8px;
}

.wrap button {
  margin-bottom: 16px;
}

.link {
  color: #323c48;
  text-decoration: none;
}

.error {
  color: tomato;
  margin-top: 16px;
}
