.wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrapItem {
  margin-bottom: 56px;
  text-decoration: none;
  transition: 300ms opacity;
}

.wrapItem:hover {
  opacity: 0.7;
}
