.button {
  display: inline-block;
  padding: 8px;
  height: 32px;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  background-color: #323c48;
  cursor: pointer;
  text-decoration: none;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 0 3px #5695ed;
}

.primary {
  background-color: transparent;
  color: #323c48;
  border: 1px solid;
}
