.form {
  padding: 0;
}

.inner {
  border: none;
}

.title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #323c48;
}

.wrap {
  margin-bottom: 24px;
  display: flex;
}

.subtitle {
  margin-right: 12px;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #323c48;
}

.item {
  display: flex;
  align-items: center;
}

.item:first-child {
  margin-right: 16px;
}

.discount {
  margin-bottom: 24px;
}
